@import "ayu.css";

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: 0 auto;
    margin-left: 25%;
    padding: 20px;
    width: var(--width);
    max-width: 100%;
    text-align: left;
    background-color: var(--bg-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    line-height: 1.8;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
    border-bottom: 1px solid var(--text-color);
}

.namespace-link {
    border-bottom: 0;
    line-height: 1;
    font-family: var(--font-main);
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}

nav a {
    margin-right: 8px;
}

strong,
b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

.highlight pre {
    font-family: var(--font-code);
}

code {
    font-family: var(--font-code);
    padding: 2px;
    color: var(--code-color);
    border-radius: 3px;
    background-color: var(--code-bg-color);
}

.nobg,
.nobg * {
    background-color: var(--bg-color) !important;
    padding: 0px !important;
}


footer {
    padding: 25px 0;
    text-align: center;
}

.item-table {
    list-style: none;
    margin: 0;
    padding: 0;
}

:target {
    background-color: var(--highlight-color);
}


.item-table li {
    display: flex;
    justify-content: space-between;
}

.item-name {
    font-family: var(--font-main);
}


a code {
    color: var(--link-color) !important;
}

.item-name .item-desc * {
    margin-left: auto;
}

.item-desc {
    margin-left: 20px;
}

.item-desc p {
    display: inline;
}

.highlight,
.code {
    padding: 1px 15px;
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    width: calc(100%-2rem);
    overflow-x: auto;
}

div.sidebarwrapper {
    padding: 10px 5px 0 10px;
}

div.sidebar {
    float: left;
    width: 230px;
    margin-left: -30%;
    font-size: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: 100%;
    overflow-y: auto;
}

div.sidebar ul {
    list-style-type: none;
    padding: 0;
}

div.sidebar h1,
div.sidebar h2,
div.sidebar h3 {
    border-bottom: 0;
    line-height: 1.25rem;
}

div.sidebar a {
    font-size: 1rem;
}

.searchbar {
    font-family: var(--font-secondary);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-width: 0.5px;
    border-color: var(--text-color);
    border-radius: 2px;
}

@media (max-width: 768px) {
    div.sidebar {
        float: none;
        width: 100%;
        margin-left: 0;
        max-height: none;
    }

    html,
    body {
        margin-left: 0px;
        overflow-x: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }

    /* Make search bar bigger so it's easier to tap on mobile */
    .searchbar {
        width: 90%;
        font-size: 1.2rem;
    }

    .highlight,
    .code {
        width: calc(100%-10rem);
    }

    .item-table li {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-name {
        flex: 0 0 auto;
        margin-bottom: 5px;
    }

    .item-table .item-desc * {
        margin-left: 20px;
    }
}
