{% extends "page" %}

{% block title %}{{ namespace.name }} - {{ project.name }}{% endblock title %}

{% block content %}
<div class="namespace-link">
    {{ get_link_for_namespace(namespace=namespace.namespace)}}
</div>
    <h1>Namespace {{ namespace.name }}</h1>

    {% if namespace.comment %}
     {{ namespace.comment["brief"] }}
     {{ namespace.comment["description"] }}
    {% else %}
        <p> This namespace is not documented. </p>
    {% endif %}


  {% if namespace.namespaces %}
<h2 id="namespaces"> Namespaces </h2>
  <ul class="item-table">
    {%- for ns in namespace.namespaces %}
    <li>
      <a href="{{ ns.name }}/index.html" class="item-name">{{ ns.name }}</a>
    {% if ns.comment %}
     <div class="item-desc">{{ ns.comment["brief"] }}</div>
     {% endif %}
     </li>

    {%- endfor %}
  </ul>
  {% endif %}

  {% if namespace.records %}
  <h2 id="records"> Records </h2>
  <ul class="item-table">
   {%- for record in namespace.records %}
    <li>
    <a href="record.{{ record.name }}.html" class="item-name">{{ record.name }}</a>
    {% if record.comment %}
     <div class="item-desc">{{ record.comment["brief"] }}</div>
    {% endif %}
    </li>
  {%- endfor %}
  </ul>
  {% endif %}

 {% if namespace.functions %}
  <h2 id="functions"> Functions </h2>
  <ul class="item-table">
   {%- for func in namespace.functions %}
    <li>
    <a href="function.{{ func.name }}.html" class="item-name">{{ func.name }}</a>
    {% if func.comment %}
     <div class="item-desc">{{ func.comment["brief"] }}</div>
    {% endif %}
    </li>
  {%- endfor %}
  </ul>
  {% endif %}

 {% if namespace.enums %}
  <h2 id="enums"> Enums </h2>
  <ul class="item-table">
   {%- for enum in namespace.enums %}
    <li>
    <a href="enum.{{ enum.name }}.html" class="item-name">{{ enum.name }}</a>
    {% if enum.comment %}
     <div class="item-desc">{{ enum.comment["brief"] }}</div>
    {% endif %}
    </li>
  {%- endfor %}
  </ul>
  {% endif %}

 {% if namespace.aliases %}
  <h2 id="aliases"> Aliases </h2>
  <ul class="item-table">
   {%- for alias in namespace.aliases %}
    <li>
    <a href="alias.{{ alias.name }}.html" class="item-name">{{ alias.name }}</a>
    {% if alias.comment %}
     <div class="item-desc">{{ alias.comment["brief"] }}</div>
    {% endif %}
    </li>
  {%- endfor %}
  </ul>
  {% endif %}


{% endblock content %}
