@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
    --font-main: "Fira Sans", sans-serif;
    --font-secondary: "Source Serif 4", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-scale: 1rem;
    --width: 1000px;
    --bg-color: var(--bg_s);
    --text-color: var(--fg);
    --heading-color: var(--fg1);
    --link-color: var(--orange);
    --code-color: var(--fg1);
    --code-bg-color: var(--bg);
    --highlight-color: var(--bg2);
}

pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ebdbb2 }
.highlight { background: #282828; color: #dddddd }
.highlight .c { color: #928374; font-style: italic } /* Comment */
.highlight .err { color: #282828; background-color: #fb4934 } /* Error */
.highlight .esc { color: #dddddd } /* Escape */
.highlight .g { color: #dddddd } /* Generic */
.highlight .k { color: #fb4934 } /* Keyword */
.highlight .l { color: #dddddd } /* Literal */
.highlight .n { color: #dddddd } /* Name */
.highlight .o { color: #dddddd } /* Operator */
.highlight .x { color: #dddddd } /* Other */
.highlight .p { color: #dddddd } /* Punctuation */
.highlight .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #928374; font-style: italic } /* Comment.Multiline */
.highlight .c-PreProc { color: #8ec07c; font-style: italic } /* Comment.PreProc */
.highlight .cp { color: #928374; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #928374; font-style: italic } /* Comment.Single */
.highlight .cs { color: #ebdbb2; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
.highlight .ge { color: #dddddd; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #dddddd; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #fb4934 } /* Generic.Error */
.highlight .gh { color: #ebdbb2; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
.highlight .go { color: #f2e5bc } /* Generic.Output */
.highlight .gp { color: #a89984 } /* Generic.Prompt */
.highlight .gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ebdbb2; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #fb4934 } /* Generic.Traceback */
.highlight .kc { color: #fb4934 } /* Keyword.Constant */
.highlight .kd { color: #fb4934 } /* Keyword.Declaration */
.highlight .kn { color: #fb4934 } /* Keyword.Namespace */
.highlight .kp { color: #fb4934 } /* Keyword.Pseudo */
.highlight .kr { color: #fb4934 } /* Keyword.Reserved */
.highlight .kt { color: #fb4934 } /* Keyword.Type */
.highlight .ld { color: #dddddd } /* Literal.Date */
.highlight .m { color: #d3869b } /* Literal.Number */
.highlight .s { color: #b8bb26 } /* Literal.String */
.highlight .na { color: #fabd2f } /* Name.Attribute */
.highlight .nb { color: #fe8019 } /* Name.Builtin */
.highlight .nc { color: #8ec07c } /* Name.Class */
.highlight .no { color: #d3869b } /* Name.Constant */
.highlight .nd { color: #fb4934 } /* Name.Decorator */
.highlight .ni { color: #dddddd } /* Name.Entity */
.highlight .ne { color: #fb4934 } /* Name.Exception */
.highlight .nf { color: #8ec07c } /* Name.Function */
.highlight .nl { color: #dddddd } /* Name.Label */
.highlight .nn { color: #8ec07c } /* Name.Namespace */
.highlight .nx { color: #dddddd } /* Name.Other */
.highlight .py { color: #dddddd } /* Name.Property */
.highlight .nt { color: #8ec07c } /* Name.Tag */
.highlight .nv { color: #83a598 } /* Name.Variable */
.highlight .ow { color: #fb4934 } /* Operator.Word */
.highlight .pm { color: #dddddd } /* Punctuation.Marker */
.highlight .w { color: #dddddd } /* Text.Whitespace */
.highlight .mb { color: #d3869b } /* Literal.Number.Bin */
.highlight .mf { color: #d3869b } /* Literal.Number.Float */
.highlight .mh { color: #d3869b } /* Literal.Number.Hex */
.highlight .mi { color: #d3869b } /* Literal.Number.Integer */
.highlight .mo { color: #d3869b } /* Literal.Number.Oct */
.highlight .sa { color: #b8bb26 } /* Literal.String.Affix */
.highlight .sb { color: #b8bb26 } /* Literal.String.Backtick */
.highlight .sc { color: #b8bb26 } /* Literal.String.Char */
.highlight .dl { color: #b8bb26 } /* Literal.String.Delimiter */
.highlight .sd { color: #b8bb26 } /* Literal.String.Doc */
.highlight .s2 { color: #b8bb26 } /* Literal.String.Double */
.highlight .se { color: #fe8019 } /* Literal.String.Escape */
.highlight .sh { color: #b8bb26 } /* Literal.String.Heredoc */
.highlight .si { color: #b8bb26 } /* Literal.String.Interpol */
.highlight .sx { color: #b8bb26 } /* Literal.String.Other */
.highlight .sr { color: #b8bb26 } /* Literal.String.Regex */
.highlight .s1 { color: #b8bb26 } /* Literal.String.Single */
.highlight .ss { color: #b8bb26 } /* Literal.String.Symbol */
.highlight .bp { color: #fe8019 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #8ec07c } /* Name.Function.Magic */
.highlight .vc { color: #83a598 } /* Name.Variable.Class */
.highlight .vg { color: #83a598 } /* Name.Variable.Global */
.highlight .vi { color: #83a598 } /* Name.Variable.Instance */
.highlight .vm { color: #83a598 } /* Name.Variable.Magic */
.highlight .il { color: #d3869b } /* Literal.Number.Integer.Long */
