@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --font-main: "Fira Sans", sans-serif;
    --font-secondary: "Source Serif 4", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-scale: 1rem;
    --width: 1000px;
    --bg-color: #282c34;
    --text-color: #ABB2BF;
    --heading-color: #ABB2BF;
    --link-color: #56B6C2;
    --code-color: #ABB2BF;
    --code-bg-color: #1f2329;
    --highlight-color: #E6B67330;
    --sidebar-bg: #1f2329;
}

a:hover, .active {
    color: #E5C07B !important;
}
